body {
  background-color: #22262a;
  margin: 0;
}

.parent-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  /* grid-template-areas:
    "header header"
    "buttons name"
    "footer footer"; */
}
.header {
  /* grid-area: header; */
  grid-column: 1 / -1;
  /* background-color: aquamarine; */
  color: #d7c49eff;
  font-family: "Staatliches", cursive;
}

.sidebar {
  grid-column: 1/1;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.linkedin {
  grid-column: 1/1;
  grid-row: 1;
  width: 100px;
  height: 50px;
  background-color: #0077b5;
}

.github {
  grid-column: 1/1;
  grid-row: 2;
  width: 100px;
  height: 50px;
  /* background-color: #333;
   */
  background-color: #6fc2b0;
}
.medium {
  grid-column: 1/1;
  grid-row: 3;
  height: 50px;
  width: 100px;
  /* background-color: #fcf6f5ff; */
  background-color: #6fc2b0;
}
.resume {
  grid-column: 1/1;
  grid-row: 4;
  height: 50px;
  width: 100px;
  /* background-color: #603f83ff; */
  background-color: #6fc2b0;
}
.contact {
  grid-column: 1/1;
  grid-row: 5;
  height: 50px;
  width: 100px;
  /* background-color: #6fc2b0; */
}

.name-container {
  grid-column: 2/3;
  color: #d7c49eff;
  font-family: "Vollkorn", serif;
  font-size: 30px;
}

.footer {
  grid-column: 1 / -1;
  color: #d7c49eff;
  font-family: "Inconsolata", monospace;
}

.project-link {
  font-family: "Inconsolata", monospace;
  background-color: #22262a;
  outline-style: solid;
  outline-color: white;
  color: white;

  text-decoration: none;
}

.project-link:hover {
  background-color: white;
  outline-style: solid;
  color: black;
}
